@use '../abstracts/' as *;

.results {
  background: $color-green-900;
  border-radius: 0.9375rem; // match Figma
  min-height: 16rem; // match Figma

  display: grid;
  align-items: center;
  padding: $space-300;

  @include from-tablet {
    min-height: 18.75rem; // match Figma
    padding-inline: $space-600;
  }

  @include from-desktop {
    flex: 1;
    min-height: 26.0625rem;
    padding-inline: $space-500;
  }

  &__panel {
    min-width: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $space-300;

    @include from-tablet {
      gap: $space-100;
    }

    @include from-desktop {
      gap: $space-300;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__label {
    @include text-preset(5);
    display: flex;
    flex-direction: column;
    color: $color-white;
    flex-shrink: 0;
  }

  &__sublabel {
    @include text-preset(6);
    color: $color-grey-400;
  }

  &__value {
    @include text-preset(2);
    color: $color-green-400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: auto;

    @include from-tablet {
      @include text-preset(1);
    }

    output {
      user-select: all;
      cursor: text;
    }
  }

  &__reset {
    @include text-preset(4);
    display: grid;
    place-items: center;
    height: $input-height;
    width: 100%;
    background: $color-green-400;
    color: $color-green-900;
    border-radius: $input-border-radius;
    margin-top: $space-400;
    cursor: pointer;
    text-transform: uppercase;

    @include from-tablet {
      margin-top: $space-200;
    }

    @include from-desktop {
      margin-top: $space-1600;
    }

    &:hover {
      background: $color-green-200;
      color: $color-green-900;
    }

    &:disabled {
      background: $color-green-750;
      color: $color-green-800;
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: none;
      box-shadow: $outline-box-shadow;
    }
  }
}
