@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

fieldset {
  all: unset;
  display: block;
}

body {
  background: $color-grey-200;
  color: $color-grey-550;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  margin-top: 3.125rem; // match Figma
  margin-inline: auto;
}
